.Button {
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    color: white;
    font-size: 20pt;
    font-weight: bold;

    outline: none;
    border-color: orange;
    transition: all .2s;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.Button:hover {
    background-color: orange;
    color: rgb(129, 52, 129);
    
}

.Button:active {
    transform: scale(.90);
}

.Button-primary {
    color: darkturquoise;
    
}

.Button-operator {
    color: orange;
}
.Button-equalButton {
    width: 50%;
}