.Screen {
    height: 25vh;
    width: 100%;
    background-color: rgba(49, 2, 49, 0.596);
    color: white;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    white-space: nowrap;
    padding: 0 10px;
    box-sizing: border-box;  
}

