
.Calculator {
    background-color: rgba(0, 0, 0, 0.178);
    height: 80vh;
    width: 30%;
    border-radius: 20px;
    box-shadow: -8px -11px 16px 21px rgba(240,177,51,1);
    -moz-box-shadow: -8px -11px 16px 21px rgba(240,177,51,1);
    box-shadow: -8px -11px 16px 21px rgba(240,177,51,1);
    
}

@media screen and (max-width: 1280px) {
    .Calculator {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .Calculator {
        width: 80%;
    }
}